.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100dvh;

  @media screen and (orientation: portrait) {
    background-image: url("/background-sp.png");
  }

  @media screen and (orientation: landscape) {
    background-image: url("/background-pc.png");
  }
}

.inner {
  padding: 0 12px;
  width: min(100%, 480px);
}

.header {
  display: grid;
  gap: 18px;
  padding: 36px 0;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.profileImageContainerWrapper {
  display: flex;
  justify-content: center;
}

.profileImageContainer {
  border-radius: 50dvmax;
  height: 96px;
  overflow: hidden;
  position: relative;
  width: 96px;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.h1 {
  font-size: 2.4rem;
  line-height: 1;
}

.profile {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
}

.list {
  display: grid;
  gap: 18px;
}

.item {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.13);
  overflow: hidden;
}

.link {
  cursor: pointer;
  display: grid;
  gap: 12px;
  grid-template: 50px / 50px 1fr;
  padding: 12px;
}

.iconImageContainer {
  border-radius: 6px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 0.16);
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}

.twitcasting {
  background: linear-gradient(
    135deg,
    rgb(8 146 253 / 1) 0%,
    rgb(8 188 209 / 1) 75%,
    rgb(8 230 159 / 1) 100%
  );
}

.amazon {
  padding: 6px;
}

.mahjongsoul {
  background: #aeb3e9;
}

.mahjongsoul img {
  object-fit: contain;
}

.detailContainer {
  overflow: hidden;
}

.h2 {
  font-size: 1.4rem;
  line-height: 1;
}

.description,
.externalLink {
  color: #666;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 6px;
}

.externalLink {
  color: rgb(62 166 255);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  font-size: 1.2rem;
  padding: 36px 0;
  text-align: center;
}

.toastContainer {
  font-size: 1.2rem;
  font-weight: 700;
}
